services:
  timescaledb:
    image: timescale/timescaledb:latest-pg16
    container_name: http-monitor-timescaledb
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=octo
    volumes:
      - timescaledb-data:/var/lib/postgresql/data

  master:
    build:
      context: .
      dockerfile: deployments/docker/Dockerfile.master
    container_name: http-monitor-master
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=timescaledb
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=password123
      - DB_NAME=octo
      - CONFIG_PATH=/config/config.yml
    volumes:
      - ./config:/config
    depends_on:
      - timescaledb

volumes:
  timescaledb-data:
